/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

/* Container styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* iPhone styles */
.iphone {
  background-color: #eee;
  border-radius: 40px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  height: 600px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 320px;
}

/* Screen styles */
.screen {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  height: 520px;
  left: 16px;
  overflow: hidden;
  position: absolute;
  top: 60px;
  width: 288px;
}

/* Login form styles */
h1 {
  background-color: #8876F6;
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 20px;
}

input {
  margin-bottom: 20px;
  border: solid 2px #8876F6;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
}

button {
  background-color: #8876F6;
  margin-top: 2%;
  border: solid 3px #553aff;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  width: 100%;
}

button:hover {
  background-color: #553aff;
  cursor: pointer;
}

.alt_button {
  background-color: #fff;
  border: solid 3px #553aff;
  border-radius: 20px;
  color: #555;
}

.alt_button:hover {
  color: #fff;
  background-color: #8876F6;
}

img {
  margin-bottom: 10px;
  padding: 10px;
  height: 20%;
}

p {
  margin: 5% 20% 30% 20%;
  font-size: 110%;
  text-align: center;
}

/*Login Page Style*/
#company_logo {
  height: 30%;
  margin-bottom: 20%;
}



/*selction tabel style*/
table {
  padding: 2% 2% 2% 2%;
  width: 100%;
  margin: 0 0 0 0;

}

td {
  padding: 1% 1% 1% 1%;
  border: solid #8876F6;
  border-radius: 15%;
  background-color: #FCFCFF;
  width: 45%;
  height: 20%;
}

.select_pet_btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 35px;
}

.pet_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0 0 0;
  width: 90px;
  height: auto;
}

/*alt selector style*/
/*selction style*/
#selection_container {
  border: solid #8876F6 3px;
  border-radius: 10px;
  width: 96%;
  height: 50%;
  margin: 2% 2% 2% 2%;
}

#back_button {
  float: left;
  width: 40%;
  margin-left: 5%;
}

#next_button {
  float: right;
  width: 40%;
  margin-right: 5%;
}

#selector_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: auto;
}


/*Pet Naming Style*/
.naming_img {
  width: 80%;
  height: auto;
}

/* Media queries */
@media only screen and (min-width: 768px) {
  .iphone {
    height: 800px;
    width: 420px;
  }

  .screen {
    height: 660px;
    left: 32px;
    top: 70px;
    width: 356px;
  }
}