.home-container {
  min-height: 100vh;
}
.home-home {
  width: 100%;
  height: 568px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.home-rectangle9 {
  top: -28px;
  left: -5.6843418860808015e-14px;
  width: 321px;
  height: 169px;
  position: absolute;
  border-color: transparent;
  border-radius: 13px;
}
.home-subtract {
  top: 512px;
  left: 0px;
  width: 320px;
  height: 56px;
  position: absolute;
}
.home-group12 {
  top: 158px;
  left: 238px;
  width: 67px;
  height: 76px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-subtract1 {
  top: 0px;
  left: 0px;
  width: 67px;
  height: 76px;
  position: absolute;
}
.home-subtract-stroke {
  top: 0px;
  left: 0px;
  width: 67px;
  height: 76px;
  position: absolute;
}
.home-subtract2 {
  top: 158px;
  left: 12px;
  width: 227px;
  height: 76px;
  position: absolute;
}
.home-group13 {
  top: 251px;
  left: 238px;
  width: 67px;
  height: 76px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-subtract3 {
  top: 0px;
  left: 0px;
  width: 67px;
  height: 76px;
  position: absolute;
}
.home-subtract-stroke1 {
  top: 0px;
  left: 0px;
  width: 67px;
  height: 76px;
  position: absolute;
}
.home-subtract4 {
  top: 251px;
  left: 12px;
  width: 227px;
  height: 76px;
  position: absolute;
}
.home-rectangle3 {
  top: 26px;
  left: 125px;
  width: 173px;
  height: 85px;
  position: absolute;
  border-color: rgba(59, 4, 129, 1);
  border-style: solid;
  border-width: 2px;
}
.home-group8 {
  top: 491px;
  left: 138px;
  width: 45px;
  height: 45px;
  position: absolute;
}
.home-vector {
  top: 521px;
  left: 243px;
  width: 27px;
  height: 30px;
  position: absolute;
}
.home-vector1 {
  top: 521px;
  left: 49px;
  width: 27px;
  height: 30px;
  position: absolute;
}
.home-frame1 {
  top: 184px;
  left: 257px;
  width: 35px;
  height: 24px;
  position: absolute;
}
.home-text {
  top: 189px;
  left: 46px;
  color: rgba(59, 4, 129, 1);
  width: 150px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Stoke;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text2 {
  top: 189px;
  left: 200px;
  color: rgba(59, 4, 129, 1);
  width: 79px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text3 {
  top: 76px;
  left: 166px;
  color: rgba(242, 153, 74, 1);
  width: 79px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-image9 {
  top: 184px;
  left: 211px;
  width: 20px;
  height: 24px;
  position: absolute;
  border-color: transparent;
}
.home-vector2 {
  top: 274px;
  left: 257px;
  width: 35px;
  height: 24px;
  position: absolute;
}
.home-vector3 {
  top: 43px;
  left: 140px;
  width: 22px;
  height: 20px;
  position: absolute;
}
.home-vector4 {
  top: 73px;
  left: 142px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.home-text5 {
  top: 272px;
  left: 46px;
  color: rgba(59, 4, 129, 1);
  width: 140px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Stoke;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-text7 {
  top: 279px;
  left: 192px;
  color: rgba(59, 4, 129, 1);
  width: 79px;
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.home-image10 {
  top: 274px;
  left: 211px;
  width: 20px;
  height: 24px;
  position: absolute;
  border-color: transparent;
}
.home-group10 {
  top: 48px;
  left: 166px;
  width: 112px;
  height: 8px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 22px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(175, 173, 184, 1);
}
.home-rectangle91 {
  top: 0px;
  left: 0px;
  width: 86px;
  height: 8px;
  position: absolute;
  border-color: transparent;
  border-radius: 22px;
}
.home-group11 {
  top: 26px;
  left: 26px;
  width: 85px;
  height: 85px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.home-group9 {
  top: 0px;
  left: 0px;
  width: 85px;
  height: 85px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: rgba(59, 4, 129, 1);
  border-style: solid;
  border-width: 2px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(242, 240, 243, 1);
}
.home-image8 {
  top: 12px;
  left: 12px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: transparent;
}
